body{
    background: rgb(241, 234, 234);
    max-width: 1000px;
    margin: auto;
    margin-top: 15px;
}

#title,.subtitle, .post_title{
    color: #505050;
    font-family:Verdana;
}

#title{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
}

.subtitle{
    text-align: center;
}

.post_title{
    text-align: left;
    font-size: 16px;
    font-style: italic;
    margin: 0 0 15px 0;
}

.post {
    font-family: Verdana;
    font-size: 13px;
    background: white;
    padding: 15px;
    border: 2px solid #505050;
    margin: 10px 10px 15px 10px;
    border-radius: 5px;
}

.corpo{
    margin: 15px 0 5px 0;
    color: rgb(24, 22, 22);
    text-align: justify;
}

.corpo a {
    color:rgb(24, 22, 22);
}

.imagem{
    margin-top: auto;
    border-radius: 5px;
    border-color: #505050;
    border: 2px solid #505050;
}

.list{
    list-style-type: none;
    padding: 0 0 0 15px;
}

.list li a {
    color:darkslategrey;
    text-decoration: none;
}

div{
    text-align: center;
}